.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #3a67f9;
  color: white;
}

.search-bar {
  display: flex;
  align-items: center;
}

.search-bar input {
  padding: 5px;
  margin-right: 10px;
}

.search-bar button {
  padding: 5px 10px;
  background-color: #1e70c3;
  color: white;
  border: none;
  cursor: pointer;
}

.profile-icon img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}

